html {
  background-color: red;
}

body {
  width: 75%;
  height: 100%;
  background-color: green;
  display: block;
  margin: 0 auto;
  padding: 0px;
  border: 5px solid black;
}

p {
  font-size: 14px;
}

h1,h2,h3 {
  font-size: 20px;
}

h1 {
  color: blue;
}

h2 {
  color: aqua;
}

h3 {
  color: fuchsia;
}


img {
  border-radius: 50%;
  border: 5px groove yellow;
  height:200px;
  width: 200px;
  margin: 20px auto;
  display: block;
}
