html {
  font-size: 3vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
 justify-content: center;
 align-items: center;
}

.counter {
  display: flex;
  flex-flow: row nowrap;
  width: 20rem;
  height: 5rem;
  border-radius: 1rem;
}

.minus {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid blue;
  background-color: lightblue;
  cursor: pointer;
  border-radius:1rem 0 0 1rem;
}
.number {
  flex-grow: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid blue;
  cursor: pointer;
 border: 1px solid lightblue;
}
.plus {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid blue;
  background-color: lightblue;
  cursor: pointer;
  border-radius:0 1rem 1rem 0;
}

.plus:hover, .minus:hover {
  background-color: deepskyblue;
}
