body {
  display: flex;
  /*flex-flow: wrap;*/
  /*can also use flex column*/
  /*justify-content: center;*/
  /*justify-content: flex-end;*/
  justify-content: flex-start;
  /*justify-content: space-around;*/
  /*justify-content: space-between;*/
  /*justify-content - works on the main axis be it vert or hortiz*/
}

div {
  height: 100px;
  width: 100px;
  background-color: red;
  border: 2px solid black;
}
