body {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}

p {
  margin: 20px;
}

/*p::first-letter {
  font-size: 22px;
  color: red;
}*/

p::first-line {
  font-family: fantasy;
  color: red;
  line-height: 5px;
}

/*
known as a pseudo element - has :: two colons
a pseudo class = :
a pseudo elemtn = ::
  as if making a part of element look like its only class !

*/
