img {
  height: 20%;
  width: 20%;
  float: right;
}

div, img {
  border: 2px solid red;
  margin: 5px 5px 5px 5px;
}

span {
  float: left;
  /*display: inline;*/
}

div {
  overflow: auto;
  border: 3px dashed hotpink;
}
a
