div {
  width: 400px;
  height: 200px;
  border: 5px dashed red;
  margin: 0 auto;

}

/*
Margin can set:
  1) 20px - TRBL margin - TOPRIGHTBOTTOMLEFT
  2) 20px 60px - TB RL - TOPBOTTOM RIGHTLEFT
  3) 10px 20px 30px 40px - T R B L
  4) AUto - centre the item
  5) 0 auto

*/
