html,body,header,h1,h2,button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  border: none;
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1,h2,button {
  margin-top: 1rem;
}


button {
  border: 1px dashed black;
  padding: 0.25rem;
  background-color: aqua;
}
