html, body {
  display: flex;
  margin:0;
  padding:0 0 0 0;
  border: 0;
}

html {
  border: 1px dashed aqua;
}

body {
  border: 1px solid red;
}
div {
  /*border-radius: 5px;*/
  /*margin: 0 auto;*/
  /*height: 50px;*/
  /*width: 50px;*/
  background-color: #66fff7;
  /*border: 2px dashed skyblue;*/
}

.two {
  position:fixed;
  bottom: 0;
  /*left:5px;*/
  background-color: red;
  box-sizing: border-box;
  width: 100%;
  height: 20px

}


/*position: absolute;
in relationship to the next element up the DOM [parent] - that also has the position property set  - if none then postion off HTML
top:
right:
bottom:
left:
*/
