

.class1 {
  border: 2px solid blue;
  height: 10rem;
}

.class2 {
  border: 2px solid red;
  float: left;
  height: 5rem;
  width: 6.1rem;
}

.class3 {
  border: 2px solid black;
  float: right;
  height: 5rem;
  width: 25rem;
}

.class4 {
  border: 2px solid aqua;
  height: 10rem;
  clear: both;
}
